__pycache__/
*.py[cod]
.venv/
venv/
build/
dist/
*.spec
.DS_Store
.vscode/
.idea/
.sheqelmotion.json
ffmpeg
ffprobe
ffmpeg.exe
ffprobe.exe
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.mp3
*.wav
*.m4a
Lipsync_Queue_Output/
ElevenLabs_Generated_Voices/
sheqelmotion_previews/
